{% extends "analyzer_website/base.html" %}
{% load static %}
{% block title %}Сөз анализатор{% endblock title %}
{% block content %}
    <div class="analyzer">
        <div class="container" style="height: 800px">
            <div class="row">
                <form action="validate" method="post">
                    {% csrf_token %}
                    <p class="lead">Морфологиялык анализдөө үчүн cөздү жазып туруп кнопканы басыңыз</p>

                    <input type="text" placeholder="Сөздү жазыңыз" id="wd" name="words"
                           class="kg-form-input ui-autocomplete-input" autocorrect="off" autocomplete="off"
                           autocapitalize="off" style="margin-right:5px; padding: 10px 200px; border-radius: 5px;">
                    <input type="submit" id="btn" class="morfo-button btn btn-info" value="Анализдөө"
                           style="padding: 10px 80px; margin-bottom: 3px;">
                    <div class="image">
                        <p style="margin-top: 20px;">Сөздү анализ кылуудагы жыйынтыкты төмөндөгүдөй форматта аласыз:</p>
                        <img src="{% static "analyzer_website/img/first_example.jpg" %}" alt="">
                        <img src="{% static "analyzer_website/img/second_example.jpg" %}" alt="">
                        <img src="{% static "analyzer_website/img/third_example.jpg" %}" alt="">
                    </div>
                </form>
            </div>
        </div>
    </div>



{% endblock content %}